:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none !important; /* Força a remoção do sublinhado */
  border: none !important; /* Remove bordas */
  outline: none !important; /* Remove linhas ao focar */
}

a:hover,
a:focus {
  text-decoration: none !important; /* Sem sublinhado no hover */
  color: inherit; /* Garante que a cor não mude */
  border: none; /* Garante remoção de bordas */
  outline: none; /* Sem linha de foco */
}

/* Específico para logo */
.logo {
  text-decoration: none !important;
  border: none !important;
  outline: none !important;
  color: var(--foreground);
  font-weight: bold;
}

/* Específico para nav items */
.navItem {
  text-decoration: none !important;
  border: none !important;
  outline: none !important;
  color: var(--foreground);
  transition: color 0.3s ease; /* Adiciona um hover suave */
}

.navItem:hover {
  color: var(--foreground); /* Mantém a cor sem alteração */
}
